{% extends "base.html.twig" %}

{% block title %}Blog5 - Billet{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="/post">
            <h2 class="post-title">
            <!--j'affiche le champs title depuis la ligne en cours -->
              {{ post.title|e }}
            </h2>
            <h3 class="post-subtitle">
               {{ post.chapo|e }}
            </h3>
          </a>
            <p class="post-subtitle ">
               {{ post.content|e }}       
            </p>
          <p class="post-meta">
            {{ post.date|e }}</p>
        </div>
        <hr>
        <!-- Pager -->        
      </div>
    </div>
  </div>


{% endblock %}