{% extends "base.html.twig" %}

{% block title %}Blog 5{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('/img/aurora.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="site-heading">
                <img style="vertical-align: center" height="250" src="/img/pp1.png">
              </div>
              </div>
            <div class="col-lg-8 col-md-8">
              <div class="site-heading">
                <h1 style="padding-top: 30px">Lucile Frémont</h1>
                <span class="subheading">Etudiante en développement web PHP / Symfony</span>
              </div>
            </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if error_mail != null %}
          <div class="alert alert-danger" role="alert">
        {{ error_mail }} </div><br>
          {% endif %}
        {% if error_phone != null %}
          <div class="alert alert-danger" role="alert">
          {{ error_phone }} </div><br/>
        {% endif %}
          {% if error_name != null %}
            <div class="alert alert-danger" role="alert">
            {{ error_name }} </div><br/>
          {% endif %}
          {% if error_text != null %}
            <div class="alert alert-danger" role="alert">
            {{ error_text }}</div>
          {% endif %}

        {% if email_sent == 1 %}
        <div class="alert alert-success" role="alert">
        Message envoyé
        </div>
        {% endif %}

        <p>Pour toutes questions, n'hésitez pas à me contacter, je vous répondrais au plus vite !</p><br>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form name="sentMessage" id="contactForm" action="/contact/send" method="POST"  novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Nom et prénom</label>
              <input type="text" class="form-control" placeholder="Nom et prénom" id="name" name="name" required data-validation-required-message="Veuillez entrer votre nom">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Adresse mail</label>
              <input type="email" class="form-control" placeholder="Adresse mail" id="email" name="email" required data-validation-required-message="Veuillez entrer votre adresse mail">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Numéro de téléphone</label>
              <input type="tel" class="form-control" placeholder="Numéro de téléphone" id="phone" name="phone" required data-validation-required-message="Veuillez entrer votre numéro de téléphone">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Message</label>
              <textarea rows="5" class="form-control" placeholder="Message" id="message" name="message" required data-validation-required-message="Votre message"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button>
        </form>
      </div>
    </div>
  </div>

  <hr>
  {% endblock %}

  