{% extends "base.html.twig" %}

{% block title %}Blog5 - Mot de passe oublié{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if mail_reject != null %}
                    <div class="alert alert-danger" role="alert">
                        {{ mail_reject }} </div><br>
                {% endif %}
                {% if mail_empty != null %}
                    <div class="alert alert-danger" role="alert">
                        {{ mail_empty }} </div><br/>
                {% endif %}
                <p>Entrez votre adresse email pour recevoir votre nouveau mot de passe</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="authentication" id="contactForm" action="/reset_password/send" method="POST"  novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Entrer votre email</label>
                            <input type="text" class="form-control" placeholder="Votre email" id="mail" name="mail" required data-validation-required-message="Veuillez entrer votre nom">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <br>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyer</button><br><br>
                </form>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}